<%- include ("header.ejs") %>
    <div class="ftr">
        <div class="yg">
            <p>Hey! This is Abhilash. I tried to build an awesome to do list with simple functionality using node js, express,bootstrap and mongodb.</p>
        </div>



    </div>








    <%- include("footer.ejs") %>