<%- include ("header.ejs") %>

    <section class="vh-85">


        <div class="cntct">
            <div class="hj">
                <p>If you liked my work feel free to drop any feedback on <a class="twt"
                        href="https://twitter.com/Chiku100" target="_blank">Twitter</a></p>

            </div>

        </div>





        <%- include("footer.ejs") %>
    </section>