<%- include ("header.ejs") %>

    <body background="Images/school_img.jpg">


        <section class="vh-85 school">

            <div class="container py-5 h-100">
                <!-- <img src="Images/school_img.jpg" width="100%" alt=""> -->
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col col-xl-5">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">

                                <form action="/school" class="d-flex justify-content-center align-items-center mb-4"
                                    method="post">
                                    <div class="form-outline flex-fill">
                                        <input name="schoolinput" type="text" id="form3"
                                            class="form-control form-control-lg" placeholder="type here..." />
                                        
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-lg ms-2">Add</button>
                                </form>
                                <ul class="list-group mb-0">
                                    <li
                                        class="list-group-item  justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-2">
                                        <div class=" align-items-center">

                                            <% schooldata.forEach(function(sdata){ %>
                                                <form action="/deleteschool" method="post">
                                                    <div class="box1">
                                                        <input class="form-check-input me-2" type="checkbox" value=""
                                                            aria-label="..." />
                                                        <p>
                                                            <%=sdata.message %>
                                                        </p> <button name=opa class="fabutton" type="submit"
                                                            value=<%=sdata._id %> >
                                                            <i class="fas fa-times text-primary"></i>
                                                        </button>
                                                    </div>
                                                </form>
                                                    <% }) %>

                                        </div>
                                        
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>

    </html>








    <%- include("footer.ejs") %>